{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="zxx">
  <head>
    <title>Phishing Site Detection</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Modiste Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false);
      
      function hideURLbar() {
      	window.scrollTo(0, 1);
      }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Thasadith:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
  </head>
  <body>
    <div class="main-top" id="home">
      <!-- header -->
      <div class="headder-top">
        <!-- nav -->
        <nav >
          <div id="logo">
            <h1><a href="{% url 'index' %}">Phishing Site Detection</a></h1>
          </div>
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop">
          <ul class="menu mt-2">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            
            <li><a href="{% url 'transfer' %}">URL Phishing</a></li>
			<li><a href="{% url 'login' %}">Logout</a></li>
          </ul>
        </nav>
        <!-- //nav -->
      </div>
      <!-- //header -->
      <!-- banner -->
      <div class="main-banner">
        <div class="container">
          <div class="style-banner ">
            <h4 class="mb-2">Phishing Site Detection</h4>
            <h5>New Technology Starts here
            </h5>
          </div>
          <div class="two-demo-button mt-md-4 mt-3">
            <p> This is possibly an incomplete list in an emerging field, feel free to suggest other vendors in comments.</p>
          </div>
          <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
          </div>
        </div>
      </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
          <div class="col-lg-6 about-imgs-txt">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 about-fashion-one">
                <img src="{% static 'images/aa.jpg' %}" alt="news image" class="img-fluid">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 about-fashion-two mt-lg-5 mt-md-4 mt-sm-3">
                <img src="{% static 'images/aaa.jpg' %}" alt="news image" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-right about-two-grids">
            <h3 class="title  mb-md-4 mb-sm-3 mb-3"># About <span>My College</span></h3>
            <div class="about-para-txt">
              <p>The objective of this research is to reinforce the current encryption measures. It shows that the privacy of each departments are kept. And Prediction values are almost accurate.</p>
              <p class="mt-2">The result shows that the
proposed model reinforces state-of-the-art encryption schemes and will serve as an effective component for
discouraging eavesdropping and curtailing brute-force attack on encrypted messages.</p>
            </div>
            <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <!-- footer -->
    <footer class="py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="footer-w3layouts-head text-center">
          <h2><a href="{% url 'index' %}">Phishing Site Detection</a></h2>
        </div>
        <div class="social-icons mt-lg-5 mt-md-4 mt-3 text-center">
          <ul>
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-rss"></span></a></li>
            <li><a href="#"><span class="fa fa-envelope"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
          <p> 
            © 2021
          </p>
        </div>
        <!-- move icon -->
        <div class="text-center">
          <a href="#home" class="move-top text-center mt-3"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
        <!--//move icon -->
      </div>
    </footer>
    <!--//footer -->
  </body>
</html>